/.tex/
!/.tex/cv.tex
!/.tex/cv.pdf
!/.tex/Education/
!/.tex/Familiar_With/
!/.tex/Info/
!/.tex/Interests/
!/.tex/Languages/
!/.tex/Macros/
!/.tex/Quality_About/
!/.tex/Skills/
!/.tex/Soft_Skills/
!/.tex/Work_Experience/

/.tex.backup/
/test_tex/
/Cover_letter/
.gitignore
